In [1]:
import pandas as pd

In [ ]:
import pandas as pd
df=pd.read_csv("../datasets/Book1.csv") #doubledot le euta folder bata arko ma navigate garxa

In [4]:
 df.head(5)

   Unnamed: 0  Years of Experience   Salary
0         NaN                  1.1  39343.0
1         NaN                  1.3  46205.0
2         NaN                  1.5  37731.0
3         NaN                  2.0  43525.0
4         NaN                  2.2  39891.0

In [5]:
df.tail(5)

    Unnamed: 0  Years of Experience    Salary
25         NaN                  9.0  105582.0
26         NaN                  9.5  116969.0
27         NaN                  9.6  112635.0
28         NaN                 10.3  122391.0
29         NaN                 10.5  121872.0

In [6]:
df.columns

Index(['Unnamed: 0', 'Years of Experience', 'Salary'], dtype='object')

In [7]:
df.dtypes

Unnamed: 0             float64
Years of Experience    float64
Salary                 float64
dtype: object

In [1]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\sunit\appdata\roaming\python\python313\site-packages (2.2.4)

In [ ]:
import numpy as np
list={"string":2,3:4}  #dict
array=np.array(list)
print(type(array))
print(array)

<class 'numpy.ndarray'>
{'string': 2, 3: 4}

create an array with 6 elements between 1 and 10

In [7]:
array1=np.linspace(1,10,6,endpoint=False)
print(array1)

[1.  2.5 4.  5.5 7.  8.5]

all the elements greater than 20

In [8]:
import numpy as np
arr=np.array([10,15,20,25,30,35,40])
print=arr[arr>20]
print

array([25, 30, 35, 40])

In [10]:
array=np.array([1,2,3,4,5])
arr[3]+2

np.int64(27)