In [1]:
import pandas as pd

data = {
    'name': ['sunita', 'ram', 'sita'],
    'age': [23, 34, 45],
    'department': ['HR', 'IT', 'HOD'],  
    'salary': [20000, 50000, 60000]
}

df = pd.DataFrame(data)
print(df)

     name  age department  salary
0  sunita   23         HR   20000
1     ram   34         IT   50000
2    sita   45        HOD   60000

In [5]:
import pandas as pd

data = {
    'name': ['sunita', 'ram', 'sita'],
    'age': [23, 34, 45],
    'department': ['HR', 'IT', 'HOD'],
    'salary': [20000, 50000, 60000]
}

df = pd.DataFrame(data)

df['Bonus'] = df['salary'] * 0.1  
print(df)

     name  age department  salary   Bonus
0  sunita   23         HR   20000  2000.0
1     ram   34         IT   50000  5000.0
2    sita   45        HOD   60000  6000.0

In [6]:
df.describe()

        age        salary        Bonus
count   3.0      3.000000     3.000000
mean   34.0  43333.333333  4333.333333
std    11.0  20816.659995  2081.665999
min    23.0  20000.000000  2000.000000
25%    28.5  35000.000000  3500.000000
50%    34.0  50000.000000  5000.000000
75%    39.5  55000.000000  5500.000000
max    45.0  60000.000000  6000.000000