In [1]:
tuple=(5,1.2,"sunita",True,[22,1.2],False)
tuple[4][0]="x"
print(tuple)

(5, 1.2, 'sunita', True, ['x', 1.2], False)

In [2]:
# t=[1,2,3,4,5,6,7,8]
# y=tuple(t)
# print(y)

In [3]:
t=(1,)
print(type(t))

<class 'tuple'>

In [4]:
t=(1)
print(type(t))

<class 'int'>

In [5]:
tuple=(50,3.14,"sun",True)
print(tuple[1:3])
print(tuple[1])

(3.14, 'sun')
3.14

In [6]:
t=(1,2,())

In [7]:
sets={1,2,5.6,"sun"}
type(sets)

set

In [8]:
seta={1,2,3,"sun"}
setb={3,4,5,"sun"}
# set=seta.intersection(setb)
set=seta & setb
set

{3, 'sun'}

In [9]:
dict={
  "apple":5,
  "banana":10,
  "cherry":15
}
print(dict)

{'apple': 5, 'banana': 10, 'cherry': 15}

In [10]:
dict={
  "apple":5,
  "banana":10,
  "cherry":15
}
dict.pop('cherry')
print(dict)

{'apple': 5, 'banana': 10}

In [11]:
dict={
  "apple":5,
  "banana":10,
  "cherry":15
}
dict.popitem()
print(dict)

{'apple': 5, 'banana': 10}

In [12]:
dict={
  "apple":5,
  "banana":10,
  "cherry":15
}
dict.clear()
print(dict)

{}

In [13]:
a,b=5,2
if a!=b:
  print("a is not equal to b")
else:
  print("error")

a is not equal to b

In [14]:
num=int(input("enter any one integer number"))
if num % 2==0:
  print("even")
else:
  print("odd")

even

In [15]:
num=int(input("enter any one integer number"))
if num % 2==0:
  print("even",num)
else:
  print("odd",num)

even 4