maxsplit-how many times we want to split

In [98]:
line = "one two three four"
print(line.split(" ", 2))

['one', 'two', 'three four']

split by space

In [99]:
text = "Hello world"
print(text.split())

['Hello', 'world']

split by comma

In [100]:
data = "never,say,no"
print(data.split(","))

['never', 'say', 'no']

split by newline

In [101]:
text = "hello\nsunita\nrai"
print(text.split("\n"))

['hello', 'sunita', 'rai']

nested for loop -  end=" "=appear on the same line, with a space between.

In [102]:
for row in range(3):       
    for col in range(5):   
        print("*", end=" ")
    print()

* * * * *
* * * * *
* * * * *

In [103]:
num=7
for i in range(1,11):
  print(f"{num}*{i}={num*i}")

7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70

In [104]:
for i in range(1,11):
  print("\n")
  for j in range(1,11):
    print(f"{i}*{j}={i*j}")

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10


2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20


3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30


4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40


5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50


6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60


7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70


8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
8*10=80


9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
9*10=90


10*1=10
10*2=20
10*3=30
10*4=40
10*5=50
10*6=60
10*7=70
10*8=80
10*9=90
10*10=100

reverse a a string using for lop

In [105]:
text="sunita"
reverse_text=""
print(type(reverse_text))
for i in text:
  reverse_text=i+reverse_text
print(reverse_text)

<class 'str'>
atinus

print only the odd character using for loop

In [106]:
text="sunita"
for i in range(1,len(text),2):
  print(text[i])

u
i
a

In [107]:
string="python"
for char in string:
    if string.index(char) % 2 != 0:
        print(char)

y
h
n

In [108]:
list=[1,2,3,4,5,6,7,8,9,10]
sum=0
for i in list:
  if i%2==0:
    print(i)
    sum=sum+i
print("sum of all even numbers is:",sum)

2
4
6
8
10
sum of all even numbers is: 30

break and continue

In [1]:
i=1
while i<=5:
  if i==3:
    break
  print(i)
  i+=1

1
2

modules

In [1]:
import math
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fma', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'sumprod', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [9]:
def multiply(a, b):
    """
    Multiply two numbers and return the result.

    Parameters:
    a (int or float): First number
    b (int or float): Second number

    Returns:
    int or float: Product of a and b
    """
    return a * b

print(multiply.__doc__)  # This prints the docstring

Multiply two numbers and return the result.

Parameters:
a (int or float): First number
b (int or float): Second number

Returns:
int or float: Product of a and b